.WrapperBgGrid{
  position: relative;
  z-index: 1;
  background: rgb(15, 23, 36);
  &::before{
    content: "";
    position: absolute;
    display: block;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: black;
    background-image: url('./../public/img/bgGridMb.bfbe013b.webp');
    background-repeat: repeat;
    background-size: contain;
    background-position: center center;
  }
}

